<ul class="padding-left-zero game-list  list-style-none">
    <li class="games-gallery">
        <a href="{{site.baseurl}}/jogos/lava-run">
            <img src="{{site.baseurl}}/assets/thumbnail_lava_run.png">
            <ul class="padding-left-zero list-style-none description-margin">
                <li class="game-description float-left game-list-float-left">Ação/Corrida Infinito</li>
                <li class="float-right game-list-float-right game-description">Mouse/Toque Apenas</li>
            </ul>
        </a>
    </li>
    <li class="games-gallery">
        <a href="{{site.baseurl}}/jogos/jamleon">
            <img src="{{site.baseurl}}/assets/thumbnail_jamleon.png">
            <ul class="padding-left-zero list-style-none description-margin">
                <li class="game-description float-left game-list-float-left">Ação/Furtividade</li>
                <li class="float-right game-list-float-right game-description">Teclado &amp; Mouse</li>
            </ul>
        </a>
    </li>
    <li class="games-gallery">
        <a href="{{site.baseurl}}/jogos/argby/">
            <img src="{{site.baseurl}}/assets/thumbnail_argby.png">
            <ul class="padding-left-zero list-style-none description-margin">
                <li class="game-description float-left game-list-float-left">Ação</li>
                <li class="float-right game-list-float-right game-description">Teclado Apenas</li>
            </ul>
        </a>
    </li>
    <ul>
